@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Raleway");

/* Heading */

* {
  font-family: 'Raleway', Helvetica, sans-serif;
  color:#1e1e1e;
  /* border: 1px solid red; */
}

.full-width {
  width: auto;
}

.flex-container-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-wrap {
  background-color: #f8f8f8;
  display: grid;
}

.main-bg {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  min-height: 50vh;
  min-width: 30vw;
}

.page-bg {
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 30px;
  min-height: 50vh;
  min-width: 30vw;
}

.border-home {
  border: 2px solid;
  border-color: #1e1e1e;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("/bg.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px;
  flex-wrap:wrap;
}

.border-info {
  border: 2px solid;
  border-color: #1e1e1e;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("/bg-sideways.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 50px;
  flex-wrap:wrap;
}

.directory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-1 {
  float: left;
  width: 50%;
  height: 100%;
}

.container-2 {
  float: right;
  width: 50%;
  height: 100%;
}

.about {
  position: absolute;
  max-width: 200px;
  bottom: 50px;
  right: 50px;
}

/* Text */

.heading {
  font-size: 4em;
  font-weight: 100;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  margin-bottom: 0.2em;
  color:#1e1e1e;
}

.subheading {
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  margin-bottom: 5em;
}

.directory-heading {
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  margin-top: 1.2em;
}

.about-heading {
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.page-title {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  margin-top: 1.2em;  
  width: 100%;
  text-align: center;
}

/* Works Page */

.proj-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.selector-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  justify-items: center;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  position: relative;
}

.selector-wrap {
  width: 100%;
}

.selector-button {
  margin: 0.2em;
}

.selector-icon {
  margin: 0.2em;
}

.selector-text {
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  margin-top: 0.4em;
}

/* Project Card */

.box {
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: left;
  float: inherit;
  width: 40vw;
  margin: 25px;
}

.black-box {
  background-color: #1e1e1e;
  min-width: 32vw;
  min-height: 300px;
  width: 100%;
  height: 50vh;
}

.proj-img {
  min-width: 400px;
  min-height: 300px;
  width: 100%;
}

.image {
  width: 100%;
  height: 100%;
  position: relative;
}

.proj-title {
  font-size: 1.4em;
  font-weight: 100;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  margin-top: 1em;
  margin-bottom: 0.8em;
  text-transform: uppercase;
}

.proj-stack {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.p-text {
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  margin-bottom: 1.2em;
}

/* Experience Page */

.exp-section {
  width: 40vw;
  margin: 50px;
}

.exp-title {
  font-size: 1.4em;
  font-weight: 100;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  text-transform: uppercase;
  margin-top: 1.6em;
  margin-bottom: 1em;
}

.exp-text {
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  margin-top: 2em;
  margin-bottom: 1em;
}

.exp-entry {
  margin-bottom: 20px;
}

br {
  display: block;
  content: ""; /* clears default height */
  margin-top: 10px;
}

/* Contact */

.border-contact {
  border: 2px solid;
  border-color: #1e1e1e;
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("/bg.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.contact-title {
  font-size: 3em;
  font-weight: 100;
  writing-mode: vertical-rl; 
  transform: rotate(180deg);
  margin-top: 30px;
}

.vl {
  width: 2px;
  height: 100%;
  background-color: #1e1e1e;
}

.line-container {
  display: flex;
  align-items: flex-start;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
  left: 36vw;
  height: 70vh;
}

.contact-wrap {
  display: flex;
  align-items: flex-end;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8px;
  margin-left: 30px;
  margin-bottom: 28px;
  background: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.social-button:hover {
  opacity: 0.7;
  transition: all 0.3s ease;
  transform: translateX(5px);
  color: #636363;
}

.social-icon {
  margin-right: 10px;
}

.social-text {
  margin-left: 8px;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.ty-text {
  margin-top: 30px;
  margin-left: 34px;
  height: 100%;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

/* Containers */

.design-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.uiux-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

/* Buttons */

.directory button {
  transition: all 0.3s ease;
}

.directory button:hover {
  transform: translateX(5px);
  color: #636363;
}

.selector-button button {
  transition: all 0.3s ease;
}

.selector-button button:hover {
  transform: translateY(2px);
  color: #636363;
}

.option-icon {
  opacity: 1;
  transition: all 0.3s ease;
}

.option-icon-hidden {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hidden-copy-msg {
  opacity: 0;
  transition: opacity 0.2s ease;
}

#popupMessage {
  transition: opacity 0.2s ease;
  margin-left: 20px;
  font-size: 1em;
  font-weight: 100;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.popup-message {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-size: 16px;
}









